# Node modules
**/node_modules/
node_modules


# Logs
**/logs
*.log
npm-debug.log*

# Environment files
.env
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# Vite & React build
recykl-frontend/dist/

# Backend Build
recykl-backend/build/



